@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161515f3;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161515f3;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

.text-2xl {
  font-size: 3.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

.todo-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}